/* Body */

body{
    background-color: #0C151D;
    font-family: 'Roboto', sans-serif;
    color: #bfd2e3;
    letter-spacing: 0.1rem;
}


/* Header Part */
.container-main{
    display: flex;
    max-width: 768px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
}

.hero{
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-bottom: 4rem;
}

.header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 8rem;
}

.dp{
    width: 200px;
    height: 200px;
    overflow: hidden;
    border: 6px solid white;
    border-radius: 50%;
}

.dp img{
   width: 100%;
   height: 100%;
}

.navbar{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin-right: 13rem;
}

.navbar h3{
    color: white;
    font-weight: 700;
    font-size: 2rem;
}

.navbar h5{
    font-size: 1rem;
    margin-top: 1rem;
}

.navbar h5 a{
    text-decoration: none;
    color: #FFE070;
}

.social{
    display: flex;
    width: 50%;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 1rem;

}

.social a{
    font-size: 1.5rem;
    color: #bfd2e3;
}

.experience{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 3rem;
}

.experience h3{
    text-align: center;
    font-size: 1rem;
    line-height: 2rem;
}

.contact-resume{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 3rem;
}

.btn{
    text-transform: uppercase;
}

.btn-block{
    width: 48%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 400;
    border: none;
    font-size: 1.1rem;
    height: 4rem;
}

.dwn-btn{
    background-color: #FFE070;
    
}

.dwn-btn:hover{
    background-color: #171F26;
    color: #CCCCCC;
}

.contact-btn{
    background-color: #171F26;
    color: #CCCCCC;
}

.contact-btn:hover{
    background-color: #FFE070;
    color: #CCCCCC;
}

.project-skill{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin-top: 3rem;
    background-color: #171F26;
    border-radius: 0.5rem;
    height: 6rem;
}


.btn-2{
    color: #CCCCCC;
}

.btn-2:hover{
    background-color: #0C151D;
}


/* Projects part */
.projects{
    display: grid;
    grid: auto-flow / 1fr 1fr;
    overflow: hidden;
    grid-gap: 1.5rem;
}

.projects img{
    width: 100%;
   height: 14.5rem;
   border-radius: 0.5rem;
}

.projects a{
    position: relative;
    text-decoration: none;
}

.projects a:hover{
    cursor: default;
}


/* Layers */
.project-layer{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-color: #ffe070b0;
    border-radius: 0.5rem;
}

.project-layer .technologies{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-left: 1rem;
}

.project-layer h3{
    margin-left: 1rem;
    color: black;
    font-weight: 700;
}

.project-layer p{
    color: black;
    font-size: 0.9rem;
    border: 1px solid black;
    border-radius: 0.5rem;
    letter-spacing: 0.01rem;
    font-weight: bold;
}

.project-layer p:hover{
    cursor: pointer;
    background-color: black;
}

.hidden-layer{
    display: none;
}

/* Contact form Design */

.contact-field{
    width: 100%;
}

.contact-field input, .contact-field textarea{
    background-color: #171F26;
    color: #bfd2e3;
}


/* Skills Part design */
.skills{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.skill-points{
    background-color: #171F26;
    margin: 0.3rem;
    padding: 1rem;
    height: 8rem;
    width: 8rem;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;

}

.skills .yellow{
    background-color: #FFE070;
    color: black;
    font-weight: bold;
    font-size: 1.1rem;
}

.skills .nodejs{
    height: 7rem;
    width: 7rem;
}

.skills .html-1{
    height: 10rem;
    width: 10rem;
}

.skills .firebase{
    height: 7rem;
    width: 7rem;
}

.skills .mongodb{
    height: 11rem;
    width: 11rem;
}

.skills .bootstrap{
    height: 7rem;
    width: 7rem;
}

.skills .express{
    height: 10rem;
    width: 10rem;
}

.skills .react{
    height: 10rem;
    width: 10rem;
}

.skills .css{
    height: 6rem;
    width: 6rem;
}

.skills .javascript{
    height: 8rem;
    width: 8rem;
}

/* For Hiding */
.hideme{
    display: none;
}

/* Footer */
.footer{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5rem;
    letter-spacing: 0.01rem;
}


/* Media Queries */

@media (max-width: 830px) {


    .hero {
        width: 90%;
    }

    .navbar {
        margin-right: 0;
        margin-top: 2rem;
    }

    .social {
        width: 90%;
    }

    .experience {
        align-items: center;
    }

    .contact-resume {
        flex-direction: column;
        align-items: center;
    }

    .contact-resume .btn-1{
        width: 100%;
    }

    .contact-resume .dwn-btn{
        margin-bottom: 2rem;
    }

    .header{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .navbar{
        justify-content: center;
        align-items: center;
    }

    .projects {
        grid-template-columns: 1fr;
        width: 90%;
    }

    .contact-field,
    .footer, .skills {
        width: 90%;
    }

}