body{
    font-family: 'Roboto', sans-serif;
    background-color: #0C151D;
    color: #bfd2e3;
    letter-spacing: 0.1rem;
}

.main{
    max-width: 768px;
    margin: auto;
    margin-top: 7rem;
}

.main .back-btn a{
    color: #FFE070;
    margin-top: 0.4rem;
}

.back-btn{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #171F26;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    margin-bottom: 2.5rem;
}

.imageSection div img{
    border-radius: 0.5rem;
}

.project-link{
    width: 90%;
}

.project-link a, span{
    text-decoration: none;
    color: #FFE070;
}

.project-link p{
    font-size: 0.9rem;
}

.features ul li{
    line-height: 2rem;
}

.tech-stacks h5{
    background-color: #171F26;
}

.footer{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5rem;
    letter-spacing: 0.01rem;
}